*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

body{
    background-color: #000;
    color: #fff;
}
::selection{
    background-color: #fff;
    color: #000;
}